<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,214},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,102},{44,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{44,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,200},{60,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{60,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,196},{60,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>EnemyShot_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,270},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Enemy_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,148},{64,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,240},{64,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Option_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,52},{52,48}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Option_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{52,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Option_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,258},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PlayerShot_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,240},{28,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Player_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Character-ipad.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8cd49c64482444fd9898a40720324d8$</string>
            <key>textureFileName</key>
            <string>Character-ipad.png</string>
        </dict>
    </dict>
</plist>
